In [ ]:
import pandas as pd

df = pd.read_csv('./music.csv')
# Kiểm tra dữ liệu đã đọc
print(f"Số dòng: {len(df)}")
print(f"Số cột: {len(df.columns)}")
print("\nCác cột:")
print(df.columns.tolist())
print("\n5 dòng đầu tiên:")
df.head()

Số dòng: 18
Số cột: 3

Các cột:
['tuoi', 'gioi_tinh', 'nhac']

5 dòng đầu tiên:

   tuoi  gioi_tinh    nhac
0    20          1  HipHop
1    23          1  HipHop
2    25          1  HipHop
3    26          1    Jazz
4    29          1    Jazz

In [10]:
input_data = df.drop(columns=['nhac'])
print("\nDữ liệu đầu vào sau khi loại bỏ cột 'nhac':")
input_data.head()

Dữ liệu đầu vào sau khi loại bỏ cột 'nhac':

   tuoi  gioi_tinh
0    20          1
1    23          1
2    25          1
3    26          1
4    29          1

In [ ]:
from sklearn.tree import DecisionTreeClassifier
algo = DecisionTreeClassifier()